.bg-section {
    background-image: url("../../../assets/bg-flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

svg {
    height: 70px;
    width: 70;
}