.bg-section {
    background-image: url("../../../assets/bg-flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.bg-button-flower {
    background-color: #e8c2ba;
}