<div class="bg-flower-color p-5">
  <h1 class="text-3xl color-principal font-semibold text-center pt-3 pb-6 tracking-wide">NUESTRA HISTORIA</h1>

  <div class="h-[350px] bg-image rounded-lg"><img [src]="imgHistory" class="h-full w-full object-contain rounded" als=""></div>
  

  <p class="text-center color-principal pt-3">
    El día que decidimos unir nuestras vidas... <br>lo hicimos con la sincera intención de caminar juntos, reir juntos y llorar juntos. <br>
    En todo momento disfrutarnos y superarlo todo juntos... <br><br>
    como Dios lo decreta: <br><br>
    <span class="italic">"Dos son mejores que uno,
    ésta es la bendición del matrimonio
    a la manera de Dios"</span>
  </p>
</div>
