.bg-section {
  background-image: url("../../../assets/a-m-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-image {
  background-color: #f2dbb3;
}