<div *ngIf="isResponsive">
  <div>
    <app-section-first></app-section-first>
  </div>
  
  <div>
    <app-section-second></app-section-second>
  </div>
  
  <div>
    <app-section-third></app-section-third>
  </div>
  
  <div>
    <app-section-fourth></app-section-fourth>
  </div>
  
  <div>
    <app-section-fifth></app-section-fifth>
  </div>
  
  <div>
    <app-section-sixth></app-section-sixth>
  </div>
  
  <div>
    <app-section-seventh></app-section-seventh>
  </div>
  
  <div>
    <app-section-eighth></app-section-eighth>
  </div>
</div>

<div *ngIf="!isResponsive">
  Solo disponible en dispositivos moviles
</div>
