.bg-section {
  background-image: url("../../../assets/a-m-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-blur {
  background-color: rgb(35 31 32 / 13%);
  backdrop-filter: blur(4px);
}
